.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.responsive-width {
  font-size: 3vw;
  background-color: #000;
  color: #fff;
}

#getrandombtn:hover{
  background: #F28E3C !important;
  color: #000 !important;
}

#brewHead:hover{
  background: #F1C545 !important;
  color: #000 !important 
}

#homefooter{
  background: #FDE799 !important;
}


